.section2_title {
  font-size: 20px;
  color: #9d9d9d;
  font-weight: 500;
}
.section2 {
  margin-bottom: 82px;
}
.section2 > div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 18px;
}
.section2 > div > div {
  flex: 1 1 30%;
}
.contact_card {
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
}

.contact_card > span:not(.card_name) {
  margin-bottom: 15px;
  color: #9d9d9d;
}

.card_name {
  font-size: 19px;
  font-weight: 500;
  color: #2076b8;
  margin-bottom: 5px;
}

.contact_button {
  display: flex;
  padding: 10px 15px;
  font-weight: 600;
  width: fit-content;
  border: 0;
  border-radius: 6px;
  background: #99d44b;
  color: #6e9b34;
}
.contact_see_all_button {
  padding: 10px 20px;
  background: #ececec;
  color: #9d9d9d;
  font-weight: 500;
  letter-spacing: 0.2px;
  border: 0;
  border-radius: 30px;
  font-size: 17px;
}
