.section4_title {
  font-size: 20px;
  color: #9d9d9d;
  font-weight: 500;
}

.table_title {
  display: flex;
  min-width: 500px;
}

.table_title > span {
  display: flex;
  flex: 1;
  font-size: 20px;
  color: #9d9d9d;
  font-weight: 500;
  padding: 24px;
}
.table_content {
  display: flex;
  min-width: 500px;
}
.table_content > span {
  flex: 1 1 33%;
  font-size: 17px;
  color: #9d9d9d;
  font-weight: 500;
  padding: 24px;
  border-top: 1px solid rgb(240, 240, 240);
}
.section4 > div {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 24px;
  margin-top: 16px;
}

@media (max-width: 660px) {
  .table_content > span {
    font-size: 14px;
  }
  .table_title > span {
    font-size: 17px;
  }
}
@media (max-width: 560px) {
  .section4 > div {
    overflow: scroll;
  }
}

@media (max-width: 871px) {
  .table_title > span:last-child {
    display: flex;
    justify-content: center;
  }
  .table_content > span:last-child {
    display: flex;
    justify-content: center;
  }
}
