.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2076b8;
  color: #ffffff;
}
.footer > div {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer > div > span > span {
  padding: 0 10px;
}

.footer > div > span > span:not(.footer > div > span > span:first-child) {
  border-left: 1px solid #ffffff;
}

@media (max-width: 780px) {
  .footer > div {
    flex-direction: column;
    align-items: center;
  }
  .footer > div > span {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .footer {
    font-size: 10px;
  }
}
